@import '../styles/partials/breakpoints';
@import '../styles/partials/variables';



.root {
    color: $nav-unselected;
    padding: 2em 0;
    margin: 3em 0 0 0;
    text-align: center;

    nav {
        ul {
            display: flex;
            justify-content: center;
            margin: 0 0 1em 0;

            li {
                padding: 0 1.5em;
            }
        
            a {
                color: $nav-unselected;
                text-decoration: none;
        
                &:hover, &:focus {
                    outline: none;
                    text-decoration: underline;
                }
            }
        }
    }

    @include breakpoint(xs){
        margin: 0;
        
        nav {
            ul {
                display: block;
                margin: 0;

                li {
                    display: block;
                    width: 100%;
                    margin: .5em auto;
                    padding: 0;
                } 
            }
        }
    }
}
