@import '../styles/partials/breakpoints';
@import '../styles/partials/variables';



.root {
    width: 100%;
    max-width: 2560px;
    margin: 1em auto 0 auto;

    .headContent {
        background-color: $theme-screen;
        padding: 1em 0 2em 0;
        
        img {
            width: 100%;
            margin: -1em 0 1.5em 0;
        }
        h1 {
            color: $white;
            text-align: center;
            font-size: 2em;
            font-weight: bold;
            margin: 0 0 .2em 0;
        }
        .preface {
            font-size: 1.3em;
            width: 55%;
            max-width: 900px;
            margin: 0 auto;
            p {
                margin: 0 0 .8em 0;
                &:last-child {
                    margin: 0;
                }
            }
        }
    }

    .mainContent {
        width: 55%;
        max-width: 900px;
        padding: 2em 0 0 0;
        margin: 0 auto;

        section {
            margin-bottom: 1em;
        }

        h3 {
            color: $white;
            margin: 0 0 .3em 0;
            font-weight: bold;
        }
        p {
            margin: 0 0 1em 0;
            &:last-child {
                margin: 0;
            }
        }
        li {
            list-style-type: disc;
            margin: 0 0 1em 2em;
        }
        strong {
            font-weight: bold;
        }
        em {
            font-style: italic;
        }
        a {
            outline: none;
            &:hover {
                color: $white;
            }
        }
    }

    .error {
        text-align: center;

        h1 {
            font-size: 5em;
            font-weight: bold;
            margin: 0 auto;
            width: 100%;
            text-transform: uppercase;
        }
    }

    @include breakpoint(lg-down){
        .headContent {
            padding: 1em 0 1.5em 0;
            
            img {
                margin: -1em 0 1.5em 0;
            }
            h1 {
                font-size: 1.5em;
            }
            .preface {
                width: 90%;
                font-size: 1.2em;
            }
        }
        .mainContent {
            width: 90%;
        }
        .error {
            h1 {
                font-size: 2em;
            }
        }
    }
}



.contactForm {
    form {
        width: 55%;
        max-width: 900px;
        padding: 2em 0;
        margin: 0 auto;

        p {
            margin: 0 0 1em 0;
        }
        .formFields {
            text-align: center;
        }
        .field {
            width: 100%;
            margin: 0 0 1em 0;
            background: $white;
            border-radius: 4px;
        }
        .buttonWrapper {
            display: flex;
            align-items: center;
            margin: 0 0 1em 0;
            .buttonProgress {
                color: $theme-bright02;
                margin: 0 0 0 -61px;
            }
        }

        @include breakpoint(xs){
            width: 90%;
        }
    }
}



.contactResponse {
    text-align: center;

    h1 {
        font-size: 4em;
        color: $white;
        background: none;
    }
    p {
        font-size: 1.5em;
    }
}
